<div *ngIf="NASA">
  <h2>{{NASA.title}}</h2>
    <button id="random" (click)="getNasa()">Get Random Image</button>
    <br>
    <form id="inputDate">
      <label for="date">Choose a date (yyyy-mm-dd): </label>
      <input id="date"><button id="submit" (click)="submit()">Submit</button>
    </form>
    <hr>
    <div *ngIf="NASA.media_type==='video'">
      <iframe class="ApodVideo" [src]="NASA.url | safe"
      frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="NASA.media_type==='image'">
      <img class="ApodImage" src="{{NASA.url}}">
    </div>
    <br>
    <div><strong>{{NASA.date}}</strong></div>
    <div *ngIf="NASA.copyright"><em>Copyright: {{NASA.copyright}}</em></div>
    <div>{{NASA.explanation}}</div>
</div>
